@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Fraunces:ital,wght@0,500;0,600;0,700;1,600&display=swap");
*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #ffffff;
  color: #484847;
  padding-bottom: 5rem;
}

.responsive-wrapper {
  width: 85%;
  max-width: 1900px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left svg {
  max-height: 40px;
  width: auto;
}

@media (min-width: 100%) {
  .header-middle {
    display: block;
  }
}

.header-right {
  display: flex;
  align-items: center;
}

.header-nav {
  display: none;
}
@media (min-width: 100%) {
  .header-nav {
    display: block;
  }
}

.header-link {
  color: #000;
  text-decoration: none;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  display: none;
  font-weight: 500;
  display: inline-block;
}

.header-link:hover{
  color: #202020a8;
}
.header-menu-button:after {
  top: 16px;
  width: 12px;
  right: 8px;
}

.page-title {
  padding-left: 2rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: center;
}
.page-title h1 {
  font-size: 1.75rem;
  font-weight: 700;
  color: #000;
  text-align: center;
  position: relative;
}
.page-title h1:after {
  display: block;
  position: absolute;
  width: 100%;
  bottom: -3px;
  height: 2px;
  background-color: currentcolor;
}

.magazine-layout-small {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 0.5rem;
}
.magazine-column-small {
  display: flex;
  flex:1 1 33%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  grid-column: span 3;
  
}
@media (min-width: 200px) {
  .magazine-column-small {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 1;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .magazine-column-small:last-child {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 200px) {
  .magazine-column-small:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
} 

.magazine-layout {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 0.5rem;
}
.magazine-column {
  display: flex;
  flex:1 1 35%;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  grid-column: span 1;
  
}
@media (min-width: 200px) {
  .magazine-column {
    display: flex;
    flex-wrap: wrap;
    grid-column: span 1;
    padding-bottom: 5px;
    margin-bottom: 5px;
  }
  .magazine-column:last-child {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 200px) {
  .magazine-column:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
  }
}

.article + .article {
  padding-left: 2rem;
  padding-right: 2rem;
}

.article-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 900;
  line-height: 1.25;
  color: #000;
}
.article-title--large {
  font-size: 2rem;
}
.article-title--large + * {
  margin-top: 1.5rem;
}
.article-title--medium {
  font-size: 1.5rem;
}
.article-title--medium + * {
  margin-top: 0.75rem;
}
.article-title--small {
  font-size: 1.25rem;
}
.article-title--small + * {
  margin-top: 0.75rem;
}

.article-link {
  color: inherit;
	text-decoration: none;
	background-image: linear-gradient(to top, #1f00aa 0, #1f00aa .13169rem, rgba(255, 102, 140, 0) .13169rem, rgba(255, 102, 140, 0) 100%);
	transition: 0.2s;
	outline: none;
}

.article-nonlink {
  color: inherit;
}

.article-link:hover {
  color: #1f00aa;
}

.article-skills{
  display: flex;
  font-style: italic;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}

.article-sub-title{
  display: flex;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
}

.article-sub-content{
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.1rem;
}

.article-sub {
  display: flex;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-wrap: wrap;
  float: left;
  width: 50%;
  font-size: 0.90rem;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.mark {
  background-color: #fabea1;
}
.mark--secondary {
  background-color: #c2dddf;
}
.mark--tertiary {
  background-color: #F8E177;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

th {
  font-weight: 500;
  color: #000000;
}

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 10px;
  margin: 0;
  outline: none;
  padding: 10px 15px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button-23:active {
  background-color: #fefeff;
  border-color: #000000;
  transform: scale(.96);
}

.button-23:disabled {
  border-color: #DDDDDD;
  color: #DDDDDD;
  cursor: not-allowed;
  opacity: 1;
}




