html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: 'Inter';
    font-weight: 300;
    text-rendering: optimizeLegibility;
    max-width: 50%;
    font-size: 13px;
    margin: auto;
    background-color: white;
    line-height: 150%;
    word-wrap: break-word;
}
/* ----------------------------------------------- */
.header{
    margin-top: 10%;
}
.title{
    font-size: 40px;
    font-weight: 600;
}
.author{
    margin-top: 3%;
    font-size: 12px;
    line-height:normal;
}
.footer {
    margin-bottom: 5%;
    font-style: italic;
}
/* ----------------------------------------------- */
h1, h2, h3{
    opacity: 100;
    font-weight: 600;
}
h1 {
    font-size: 20px;
}
h2 {
    font-size: 15px;
}
h3 {
    font-size: 13px;
}
p, ul, ol{
    font-size: 13px;
    opacity: 80%;
}
a[href] {
    color: black;
    text-decoration: underline;
}
a[href]:hover {
    color: rgb(225, 139, 9);
}
::selection {
    background-color: color-mix(in srgb, rgb(225, 139, 9) 50%, transparent);
}
/* ----------------------------------------------- */
hr{
    margin-top:2%;
    margin-bottom: 2%;
    max-width: 100%;
}
/* ----------------------------------------------- */
figure.image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    text-align: center;
    
}
figure.image img {
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 2%;
}
.caption{
    display: block;
    text-align: center;
    font-size: 10px;
    opacity: 50%;
}
/* ----------------------------------------------- */
.MathJax, .MathJax_Display {
    max-width: 100% !important;    /* Fit to window width */
    overflow-x:visible;              /* Scroll if too wide */
    white-space: normal;           /* Encourage wrapping */
}
/* ----------------------------------------------- */
@media (max-width: 1200px) {
    body {
        max-width: 65%;
    }
    .author{
        margin-top: 4%;
        font-size: 12px;
        line-height:normal;
    }
}

@media (max-width: 768px) {
    body {
        max-width: 90%;
    }
    .author{
        margin-top: 4%;
        font-size: 12px;
        line-height:normal;
    }
    
}
