* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: auto;
}

html {
    overflow-x: hidden !important;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

:root {
    --fontSize: 15px;
    --lineHeight: 22.5px;
    --hairlineThickness: 1px;
    --backgroundColor: #1A2124;
    --secondaryBackgroundColor: #223336;
    --primaryText: #000000;
    --secondaryText: #343840;
    --tertiaryText: #4D595B;
    --accentColor: rgb(225, 139, 9);
}

::selection {
    background-color: var(--accentColor);
    background-color: color(from var(--accentColor) srgb r g b / 0.5);
}

body {
    font-family: ui-rounded, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: var(--fontSize);
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    max-width: calc(var(--lineHeight) * 33);
    margin: 0 auto;
    padding: 0 var(--lineHeight);
    background-color: #FAFAFA;
}

h1 {
    font-size: inherit;
    line-height: inherit;
    font-weight: 600;
    color: var(--primaryText);
    margin-top: 10%;
}

p {
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: var(--secondaryText);
}

a {
    color: var(--primaryText);
}

.tab-nav {
    margin-top: 5%;
}

.tab-button {
    margin-right: 2%;
    border: none;
    font-size: inherit;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.grid-portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 5%;
    gap: 4%;
}

.portfolio-item {
    font-size: 14px;
}

.grid-content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding-top: 5%;
}

.content-label {
    font-size: 13px;
    color: var(--tertiaryText);
}

.content-details {
    font-size: 14px;
    color: var(--tertiaryText);
}

.portfolio-image {
    width: 100%;      
    height: 200px;    
    border-radius: 15px;
    object-fit: cover;
}

.image{
    width: 100%;          
    object-fit: cover;
}
