/*-----------Setup----------*/
html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    font-family: 'Inter';
    font-weight: 400;
    text-rendering: optimizeLegibility;
    max-width: 35%;
    font-size: 13px;
    margin: auto;
    background-color: #fcfcfc;
    line-height: 150%;
}
p {
    font-size: 13px;
}
a {
    color: black;
    text-decoration: underline;
}
a[href]:hover {
    color: rgb(225, 139, 9);
}
::selection {
    background-color: color-mix(in srgb, rgb(225, 139, 9) 50%, transparent);
}

/*-----------Header----------*/
.header{
    margin-top: 10%;
    margin-bottom: 6%;
    display: flex;
}
.header-col-L {
    font-size: 20px;
    width: 20%;
}
.header-col-R {
    width: 80%;
    text-align: right;
}
.header-col-M {
    font-size: 20px;
    width: 100%;
    text-align: left;
}
.header-col-M-small {
    font-size: 15px;
    width: 100%;
    text-align: center;
}

/*-----------Content----------*/
.grid-content {
    display: grid;
    grid-template-columns: 3fr 7fr;
    padding: 0; /* Remove any extra padding */
}
.image {
    width: 100%;
    object-fit: cover;
    border-radius: 2%;
    margin-top: 1%;
}
.content-details{
    margin-bottom: 10%;
}
.content-label{
    color: grey;
}

/*-----------Navigation----------*/
.tab-button {
    margin-right: 2%;
    border: none;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: opacity 0.3s ease;
    color:#0460c2
}
.tab-button:hover {
    opacity: 0.7;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/*-----------Extra----------*/
.toggle-section {
    display: none;
    transition: max-height 0.3s ease; /* Smooth transition when opening/closing */
    max-height: 0; /* Initially collapsed */
    overflow: hidden; /* Hide overflow content */
}
.toggle-text {
    cursor: pointer;
}
.caption{
    text-align: right; 
    color:grey; 
    font-size: 11px;
    margin: 0%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    max-width: 1200px;
}

.grid-item {
    background: white;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.grid-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.grid-item a {
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*-----------Mobile Version----------*/
@media (max-width: 1500px) {
    body {
        max-width: 60%;
    }
}

@media (max-width: 1000px) {
    body {
        max-width: 80%;
    }
    .tab-button {
        margin-right: 2%;
        border: none;
        font-size: inherit;
        font-family: inherit;
        background-color: transparent;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }
}

@media (max-width: 800px) {
    body {
        max-width: 95%;
        font-size: 11px;
    }
    .footer{
        font-size: 9px;
    }
    .tab-button {
        margin-right: 0px;
        border: none;
        font-family: inherit;
        background-color: transparent;
        cursor: pointer;
    }
    .header-col-L {
        font-size: 11px;
        width: 20%;
    }
    .header-col-R {
        font-size: 9px;
        width: 80%;
        text-align: right;
    }
    .header-col-M {
        font-size: 15px;
        width: 100%;
        text-align: left;
    }
    .header-col-M-small {
        font-size: 11px;
        width: 100%;
        text-align: center;
    }
    .caption{
        font-size: 9px;
        text-align: right; 
        color:grey; 
        margin: 0%;
    }
}

