html {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

body {
    margin: 0 auto;
    min-height: 100vh;
    max-width: 400px; 
    margin-top: 50px;
    text-align: center;
}

h1 {
    margin-bottom: 4%;
}

.sh{
    font-size: 13px;
    margin-bottom: 5%;
}

.cr{
    margin-top: 5%;
    font-size: 10px;
    margin-bottom: 5%;
}

table {
    margin: auto;
    width: 85%;
    font-size: 13px;
    border-collapse: collapse;
}

th, td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
    border-top: 1px solid #d0d0d0;
}

a[href]{
    color: grey;
}

@media screen and (max-width: 400px) {
    body {
        margin: 0 auto;
        min-height: 100vh;
        max-width: 92%;
        margin-top: 10%;
        text-align: center;
    }
}